fastapi==0.111.0
uvicorn[standard]==0.30.0
pydantic>=2.7.1
pyyaml==6.0.1
pythonnet>=3.0.3      # for Kinesis .NET (Windows, x64 Python)
msgpack>=1.0.8
anyio==4.4.0
filelock==3.12.2
PySide6>=6.7.2 # for tray app
httpx==0.27.0  # for tray app
websocket-client==1.6.2  # for client
urllib3==2.1.0  # for client
numpy==2.3.2
setuptools>=80.0.0
matplotlib>=3.8.0 # for picoscope demo
ipykernel>=6.28.0 # for notebook demo
scipy>=1.14.0 # for picoscope FFT
nkt_tools>=0.0.8 # NKT Photonics lasers
pyserial>=3.5
influxdb-client>=1.35.0  # for InfluxDB integration
influxdb-client[async]>=1.35.0  # for async InfluxDB integration
pyvisa-py>=0.8.1  # for VISA instruments
screeninfo>=0.1.0  # for screen information
PILLOW>=9.0.0  # for image processing
pypylon>=24.0.0 # for Basler cameras
# picosc..pe SDK
# python -m pip install -r .\requirements.txt
